body {
    margin: 0;
    background-color: #E5E5E5;
    font-family: Space Grotesk;
}

.background {
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(150deg, #3E708E 0%, #64969B 84%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form {
    width: 50%;
    background-color: #FFFFFF;
    padding-bottom: 4.5%;


}

placeholder {
    color: #CCCCCC;
}


.kreativ {
    color: linear-gradient(#496F74 100%, #6E9195 100%, #2D4F61 100%);
    margin-top: 3%;
    margin-left: 8%;

}

h2 {
    color: black;
    /* font-family: Space Grotesk; */
    font-size: 24px;
    font-weight: 700;
    margin-top: 18%;
    margin-left: 25%;

}

p {
    margin-left: 25%;
    width: 50%;
    height: 18%;
}

input {
    width: 100%;
    height: 10%;
    border-radius: 10px;
    border: 1px solid #CCCCCC;

}

placeholder {
    color: #CCCCCC;
}

.password {
    margin-bottom: 0.3rem;
}

.prompt {
    font-size: 12px;
    color: #CCCCCC;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;

}

span {
    font-size: 12px;
    color: #C4C4C4;
}

.login {
    padding-left: 35%;
    color: #C4C4C4;
    font-size: 16px;
}

.login>a {
    color: #476D73;

}

.btn>input {
    color: white;
    background-color: #27485D;
    border: solid 1px  #284A5E;
    width: 102.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.content {
    width: 40%;
    background: linear-gradient(#517879 1.09%, #1E3E57 100%);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    font-size: 16px;
    margin-top: 8%;
    margin-right: 20%;
    text-align: right;
    word-spacing: 20px;
}

.citation {
    font-size: 5.2vh;
    opacity: .8;
    display: flex;
    align-items: center;
    width: 60%;
    margin-top: 38%;
    margin-left: 10.5%;
    line-height: 4rem;
    text-shadow: 3px 3px 1px rgb(83, 105, 101);
}

.sign {
    padding-bottom: 38%;
    padding-top: 2%;
    padding-left: 10.5%;
    font-size: 16px;
    text-shadow: 3px 3px 1px rgb(83, 105, 101);
}